.number-base-table-container {
	width: 100%;
	min-width: 1024px;
	margin-top: 10px;
	overflow-x: auto;
}

.number-base-table {
	border-collapse: collapse;
	width: 100%;
}

.number-base-table th {
    height: 50px;
		font-weight: bold;
		background-color: #9bbc0f;
}

.number-base-table td {
	width: 75px;
}

.number-base-table tr:hover {
	background-color: #f5f5f5;
}

.number-base-table th, .number-base-table td, .number-base-table tr {
	text-align: left;
	border: 1px solid black;
	padding: 5px;
	min-width: 150px;
}
