.cpu-control {
}

.cpu-control .donut {
  display: none;
}

.cpu-control--control-loading .donut {
  display: block;
}

.cpu-control--control-loading .cpu-control__control-container {
  display: none;
}
