html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

.canvas-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
