html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

 /*
	https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css
 */
.wasmboy__canvas-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	display: flex;
	flex-direction: column;

	width: 50vw;
	height: 45vw;
	min-width: 160px;
	min-height: 144px;
	max-width: 640px;
	max-height: 576px;
}

.wasmboy__canvas-container__canvas {
	width: 100%;
	flex: 1;
}


.wasmboy__systemControls {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}


.gamepad {
	position: fixed;
	pointer-events: none;
	bottom: 0;
	left: 0;

	/* Shown in media query at bottom */
	display: none;
}

.gamepad svg {
	pointer-events: auto;
	width: 50%;
	height: 20%;

	fill: #b967ff;
}


.number-base-table-container {
	width: 100%;
	min-width: 1024px;
	overflow-x: auto;
}

.number-base-table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

.number-base-table th {
    height: 50px;
		font-weight: bold;
		background-color: #9bbc0f;
}

.number-base-table td {
	width: 75px;
}

.number-base-table tr:hover {
	background-color: #f5f5f5;
}

.number-base-table th, .number-base-table td, .number-base-table tr {
	text-align: left;
	border: 1px solid black;
	padding: 5px;
}


/* Only display on phones */
@media screen and (max-width: 1024px) {
	.gamepad {
		display: flex;
		align-items: flex-end;
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}

	.debugger {
		display: none;
	}
}
