.wasmboy__systemControls {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.system-controls button {
  margin: 10px;
}

.saveStateContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.saveState {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;

  word-wrap: break-word;

  transition: background-color 0.25s;
}

.saveState:hover {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
