.wasmboy-options {
  margin-left: auto;
  margin-right: auto;
}

.wasmboy-options__info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wasmboy-options__inputs div {
  margin: 5px;
}

.wasmboy-options__apply {
  margin-top: 10px;
}

.wasmboy-options__boot-rom-select {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wasmboy-options__boot-rom-select div {
  margin-top: 5px;
  margin-bottom: 5px;
}
