.wasmboy__gamepad {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;

  width: 100vw;
  height: 90vh;
  opacity: 0.65;

  /* Shown in media query at bottom */
  display: none;
}

.wasmboy__gamepad svg {
  position: absolute;
  pointer-events: auto;
  fill: #b967ff;
}

#gamepadDpad {
  left: 0;
  bottom: 50px;

  width: 175px;
  height: 175px;
}

#gamepadSelect {
  left: calc(50vw - 125px);
  bottom: 0;

  width: 125px;
  height: 50px;
}

#gamepadStart {
  right: calc(50vw - 125px);
  bottom: 0;

  width: 125px;
  height: 50px;
}

#gamepadB {
  right: 125px;
  bottom: 60px;

  width: 110px;
  height: 110px;
}

#gamepadA {
  right: 0px;
  bottom: 120px;

  width: 110px;
  height: 110px;
}

.wasmboy__gamepad {
  display: block;
}
