.wasmboy__filePicker {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wasmboy__filePicker__services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wasmboy__filePicker h2 {
  text-align: center;
}

.wasmboy__filePicker .file {
  margin: 10px;
}
