@import 'normalize.css';
@import 'chota/dist/chota.css';
@import '@phosphor/dragdrop/style/index.css';
@import '@phosphor/widgets/style/index.css';
@import '@phosphor/default-theme/style/dockpanel.css';
@import '@phosphor/default-theme/style/menu.css';
@import '@phosphor/default-theme/style/menubar.css';
@import '@phosphor/default-theme/style/scrollbar.css';
@import '@phosphor/default-theme/style/tabbar.css';

body {
  display: flex;
  z-index: 0;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#phosphor-container {
  display: flex;
  z-index: 0;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#overlay-container {
  display: flex;
  z-index: 1;
  pointer-events: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden-rom-input {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}

.remove-default-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.tall {
  height: 100vh;
  width: 100vw;
  background-color: purple;
  color: white;
}

#menuBar {
  flex: 0 0 auto;
}

#main {
  flex: 1 1 auto;
}

#palette {
  min-width: 300px;
  border-right: 1px solid #dddddd;
}

#dock {
  padding: 4px;
}

.content {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #c0c0c0;
  border-top: none;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.content > div {
  flex: 1 1 auto;
  border: 1px solid #020202;
  overflow: auto;
  height: 100%;
}

/* Phosphor FontAwesome Fix */
.p-TabBar-tab.p-mod-closable > .p-TabBar-tabCloseIcon:before {
  content: 'X';
  cursor: pointer;
  font-weight: bold;
}
