/* Simply imports frameworks and application styles */

@import 'normalize.css';
@import './styles/phosphor.css';
@import './styles/app.css';
@import './styles/shared.css';
@import './styles/commands.css';
