.open-source-rom-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.open-source-rom {
  position: relative;
}

.open-source-rom__button {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  margin: 10px;

  background-color: transparent;
  transition: background-color 0.5s;
  border: none;
}

.open-source-rom:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.open-source-rom__left,
.open-source-rom__right {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.open-source-rom__left {
  width: 200px;
  min-width: 200px;
  height: 200px;
}

.open-source-rom__left img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.open-source-rom__right {
  flex-grow: 1;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;

  max-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open-source-rom h3 {
  font-weight: bold;
  font-size: 1.25rem;
}

.open-source-rom__info {
  z-index: 100;
}

.open-source-rom__link {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;

  z-index: 100;
  transition: background-color 0.5s;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 5px #020202;
}

.open-source-rom__link:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
