.wasmboy__options {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.wasmboy__options__info {
	margin-top: 10px;
	margin-bottom: 10px;
}

.wasmboy__options__inputs div {
	margin: 5px;
}

.wasmboy__options__apply {
	margin-top: 10px;
}
