.overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overlay--capture-input {
  pointer-events: all;
}

.overlay__mask {
  display: none;
  background-color: rgba(255, 255, 255, 0.35);
}

.overlay--show-mask .overlay__mask {
  display: block;
}
